.block {
    display: flex;
    flex-direction: column;
}

.block>.property-value {
    display: inline;
}

.block>.property-value>.property {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

.block>.property-value>.equals {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

.block>.property-value>.value {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}